.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  &__body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  &__right {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    box-shadow: inset $shadow;
  }
  
  &__content {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
    min-width: 0;
  }
}